<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>341906017188-luehp0ql8ol59gvg9gec9mh0bfb7djrh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.341906017188-luehp0ql8ol59gvg9gec9mh0bfb7djrh</string>
	<key>API_KEY</key>
	<string>AIzaSyBkiKL5wXB83bLAbqy2Q_WpSXdBE3-G0XM</string>
	<key>GCM_SENDER_ID</key>
	<string>341906017188</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.atalayasa.CloneSocialMedia</string>
	<key>PROJECT_ID</key>
	<string>clonesocialmedia</string>
	<key>STORAGE_BUCKET</key>
	<string>clonesocialmedia.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:341906017188:ios:8a254d707769528d</string>
	<key>DATABASE_URL</key>
	<string>https://clonesocialmedia.firebaseio.com</string>
</dict>
</plist>